.column {
    float: left;
}

.menu .menu-item {
    display: inline-block;
}

.menu.where-width-lt-500 .menu-item {
    display: block;
}

.menu-item.where-width-lt-50 {
    background-color: red;
}

/*Some styles to make it look nicer*/
.menu-item {
    background-color: #aea;
    padding: 18px;
    border: solid 1px black;
}